* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    color: #043873;
    line-height: 1.6;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.integration {
  background: #003366;
  color: #fff;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.integration-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.integration-logos {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 20px;
  justify-content: center;
}

.integration-logos img {
  width: 582px;
  height: 470.8px;
}
.integration-text {
  max-width: 500px;
}

.integration-text h2 {
  color: #FFFFFF;
  font-size: 50px;
  margin-bottom: 115px;
  margin-top: -86px;
  line-height: 1.2;
}
.integration-text p {
    color: #FFFFFF;
    font-size: 11px;
    margin-top: -100px;
    opacity: 0.9;
    margin-bottom: 60px;
}

.btn {
  background: #4F9CF9;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s;
}

.btn:hover {
  background: #0088cc;
}

.testimonials {
  background: #fff;
  padding: 80px 0;
  text-align: center;
}

.section-title {
  position: relative;
  z-index: 1;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 50px;
  color: black;
}

.section-title span {
  position: relative;
  display: inline-block;
  color: black;
  z-index: -1;
}

.section-title span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 257.97px;   
  height: 40px;
  background: url("./images/says.png") no-repeat center/contain;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonial-cards {
  max-width: 2000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.testimonial-card {
  border-radius: 16px;
  padding: 60px 40px;
  width: 471px;
  height: 498.46px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}
.testimonial-card.light {
  background: #fff;
  color: #0d1b2a;
}

.testimonial-card.blue {
  background: #4F9CF9;
  color: #fff;
}

.quote {
  position: relative;
  font-size: 16px;
  line-height: 1.7;
  color: inherit;
  padding-top: 110px;
}

.quote-icon {
  width: 86px; 
  height: 61.46px;
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 60px 0;
}

.testimonial-card.blue .divider {
  background: rgba(255, 255, 255, 0.3);
}

.profile {
  display: flex;
  align-items: center;
  gap: 42px;
}

.profile img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.profile h4 {
  font-size: 16px;
  font-weight: 600;
  color: #043873;
}

.profile p {
  font-size: 14px;
  opacity: 0.8;
  color: white;
}