*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: #212529;
    background: #FFFFFF;

}

img {
  max-width: 100%;
  display: block;
}

/* buttons*/
.btn{
    display: inline-block;
    padding:10px 16px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn--blue {
  background: #4F9CF9;
  color: #fff;
  border-color: transparent;
}

.btn--outline {
  background: transparent;
  color: #212529;
  border: 1px solid #FFE492;
}




