*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.your__work{
    width: 1921px;
    height: 574px;
    padding: 140px 220px 140px;
    background: #043873;
    display: flex;
    text-align: center;
    justify-content: center;
}


.content h1{
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 24px;
}

.content p{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 17px;
}

.content a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    width: 195px;
    height: 63px;
    border: none;
    border-radius: 8px;
    background-color: #4F9CF9;
    padding: 20px 40px 20px;
    margin-top: 60px;
}

.your__data{
    width: 1921px;
    height: 661.13px;
    padding: 140px 220px 140px;
    display: flex;
    align-items: center;
    gap: 0;
}

.your__data h1{
    font-size: 72px;
    font-weight: bold;
    color: #212529;
}

.your__data p{
    margin-top: 24px;
    font-size: 18px;
    line-height: 20px;
    color: #212529;
}

.your__data-img{
    width: 681px;
    height: 381.3px;
}

.your__data a{
    border: none;
    border-radius: 8px;
    width: 197px;
    height: 63px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    background: #4F9CF9;
}